{% extends '../partial/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<style>

    .myDiv {
        position: relative;
        z-index: 1;
    }
    
    .myDiv:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("{% static '/images/8.jpg' %}") center center;
        background-size: cover;
        opacity: .3;
    }
</style>



<div class="container">
    <div class="col-md-12 mt-3 w3-animate-top">
        <div id="Cotert1" class="jumbotron text-center">
          <h1 id="h1Cotert" class="text-dark w3-animate-left">
              <h1 style="color: brown;">טיפה עלינו</h1>
        </div>
      </div>
    <div class="myDiv">
      
        <h3 style="color: chocolate;" class="w3-animate-left">וילונות דקור נוסד בשנת 1980 על מנת לספק לאנשים את הפתרון והשירות הטוב ביותר,
            <br/>
             אנחנו משתדלים להשתפר ולהפוך להיות טובים יותר,
             <br/>
           נשמח שתכתבו לנו איך אתם חושבים שאנחנו צריכים לעשות את זה....
        </h3>
        <p  style="margin: 30px;" class="text-right w3-animate-right text-dark">
            <strong>
            "וילונית" הוקמה בשנת 1999 כעסק המספק שירות מקצועי לוילונות ופתרונות הצללה.
            <br/>

"וילונית" מייצרת ומשווקת את מיטב המוצרים בתחום הוילונות, ברשותנו מתפרה אקסקלוסיבית מהמתקדמות בישראל המאפשרת לנו להציע התאמה מושלמת לכל לקוח.
<br/>

אנו מחויבים להיות ולהביא את הקידמה והחדשנות, באיכות ובעיצוב בתחום הוילונות.
<br/>


מטרתנו בראש ובראשונה היא חווית הקנייה של הלקוח. אנו מעמידים את כלל המשאבים הניסיון וההון האנושי שלנו לטובת יצירת חוויית קנייה נעימה נוחה ובטוחה.
את הדגש אנו שמים את השירות, האיכות והמחיר .
את מוניטין החברה צברנו בראש ובראשונה בזכות צוות מכירות והתקנות מקצועי העומד לרשות הלקוחות. ניתן לקבל שירות בבית הלקוח ללא התחייבות תוך הקפדה על שירות אמין, איכותי והוגן ללא פשרות.

<br/>

ההתמחויות שלנו הן במגוון רחב של מוצרי וילונות, החל מוילונות בד, וילונות זברה, וילונות וניציאניים, וילונות ורטיקלים, וילונות חשמליים ועוד, אשר נותנים פתרונות לכל חלון.

</strong>
        </p>
        <p>לא לשכוח לכתוב לנו</p>
    </div>
</div>


   
{% endblock %}